<div class="outer" >
    <form  [formGroup]="courseFormData" (ngSubmit)="onSubmit()">
      <div class="row">
        <div class="col=xs-12">
          <div class="form-group">
            <label for="name">Course Name</label>
            <input
              type="text"
              id="courseName"
              class="form-control"
              formControlName="courseName"
            />
          </div>
        </div>
      </div>
      
      <div class="row">
        <div class="col=xs-12">
          <div class="form-group">
            <label for="name">Course Duration</label>
            <input
              type="number"
              id="courseDuration"
              class="form-control"
              formControlName="courseDuration"
            />
          </div>
        </div>
      </div>
    
      <div class="row">
        <div class="col=xs-12">
          <div class="form-group">
            <label for="name">Course Description</label>
            <input
              type="text"
              id="courseDescription"
              class="form-control"
              formControlName="courseDescription"
            />
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col=xs-12">
          <div class="form-group">
            <label for="name">Course Technology</label>
            <input
              type="text"
              id="courseTechnology"
              class="form-control"
              formControlName="courseTechnology"
            />
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col=xs-12">
          <div class="form-group">
            <label for="name">Launch URL</label>
            <input
              type="text"
              id="courseLaunchUrl"
              class="form-control"
              formControlName="courseLaunchUrl"
            />
          </div>
        </div>
      </div>
      
      <div class="row">
        <div class="col=xs-12">
            <button type="submit" [disabled]=!courseFormData.valid class="btn btn-success " >Add</button>
        </div>
    </div>
    <div id="warning" class="row" *ngIf="anyIssue == true">
      <div class="col=xs-12">
        <P>Failed to add course</P>
      </div>
    </div>
    </form>
    </div>