<div class="outer" >
    <form  [formGroup]="courseFormData" (ngSubmit)="onSubmit()">
      <div class="row">
        <div class="col=xs-12">
          <div class="form-group">
            <label for="name">Course Name</label>
            <input
              type="text"
              id="courseName"
              class="form-control"
              formControlName="courseName"
            />
          </div>
        </div>
      </div>
      <div *ngIf="courseFormData.controls['courseName'].invalid 
      && (courseFormData.controls['courseName'].dirty 
      || courseFormData.controls['courseName'].touched)"
      ><span>Name should be min 10 characters</span></div>
      
      <div class="row">
        <div class="col=xs-12">
          <div class="form-group">
            <label for="name">Course Duration</label>
            <input
              type="number"
              id="courseDuration"
              class="form-control"
              formControlName="courseDuration"
            />
          </div>
        </div>
      </div>
      <div *ngIf="courseFormData.controls['courseDuration'].invalid 
      && (courseFormData.controls['courseDuration'].dirty 
      || courseFormData.controls['courseDuration'].touched)" 
      ><span>Course Duration is required</span></div>
    
      <div class="row">
        <div class="col=xs-12">
          <div class="form-group">
            <label for="name">Course Description</label>
            <input
              type="text"
              id="courseDescription"
              class="form-control"
              formControlName="courseDescription"
            />
          </div>
        </div>
      </div>
      <div *ngIf="courseFormData.controls['courseDescription'].invalid 
      && (courseFormData.controls['courseDescription'].dirty 
      || courseFormData.controls['courseDescription'].touched)" 
      ><span>Description should be min 100 characters</span></div>

      <div class="row">
        <div class="col=xs-12">
          <div class="form-group">
            <label for="name">Course Technology</label>
            <input
              type="text"
              id="courseTechnology"
              class="form-control"
              formControlName="courseTechnology"
            />
          </div>
        </div>
      </div>
      <div *ngIf="courseFormData.controls['courseTechnology'].invalid 
      && (courseFormData.controls['courseTechnology'].dirty 
      || courseFormData.controls['courseTechnology'].touched)" 
      ><span>Technology can't be empty</span></div>

      <div class="row">
        <div class="col=xs-12">
          <div class="form-group">
            <label for="name">Launch URL</label>
            <input
              type="text"
              id="courseLaunchUrl"
              class="form-control"
              formControlName="courseLaunchUrl"
            />
          </div>
        </div>
      </div>
      <div *ngIf="courseFormData.controls['courseLaunchUrl'].invalid 
      && (courseFormData.controls['courseLaunchUrl'].dirty 
      || courseFormData.controls['courseLaunchUrl'].touched)" 
      ><span>Launch Url can't be empty</span></div>
      
      <div class="row">
        <div class="col=xs-12">
            <button type="submit" [disabled]=!courseFormData.valid class="btn btn-success " >Add</button>
        </div>
    </div>
    <div id="warning" class="row" *ngIf="anyIssue == true">
      <div class="col=xs-12">
        <P>Failed to add course</P>
      </div>
    </div>
    </form>
    </div>