<div class="outer" >
    <form  [formGroup]="loginFormData" (ngSubmit)="onSubmit()">
      <div class="row">
        <div class="col=xs-12">
          <div class="form-group">
            <label for="name">User Name</label>
            <input
              type="text"
              id="userName"
              class="form-control"
              formControlName="userName"
            />
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col=xs-12">
          <div class="form-group">
            <label for="name">Password</label>
            <input
              type="password"
              id="userPassword"
              class="form-control"
              formControlName="userPassword"
            />
          </div>
        </div>
      </div>
      
      <div class="row">
        <div class="col=xs-12">
            <button type="submit" [disabled]=!loginFormData.valid class="btn btn-success " >Login</button>
        </div>
    </div>
    <div id="warning" class="row" *ngIf="anyIssue == true">
      <div class="col=xs-12">
        <P>Wrong Username/Password</P>
      </div>
    </div>
    </form>
    </div>