<div class="container">
    <div class="row">
      <div class="col-md-6" *ngFor="let course of courseList; let i = index;">
        <div class="card  bg-light mb-3 " style="max-width: 540px">
            <div class="row no-gutters">
              <div class="col-md-12">
                <div class="card-body">
                    <span>Name</span>
                  <h5 class="card-title">{{course.courseName}}</h5>
                  <span>Author</span>
                  <h5 class="card-title">{{course.createdBy}}</h5>
                  <span>Duration</span>
                  <h5 class="card-title">{{course.courseDuration}}</h5>
                  <span>Launch URL</span>
                  <h5 class="card-title">{{course.courseLaunchUrl}}</h5>
                  <p class="card-text">
                    <small> {{course.courseDescription}} </small>
                  </p>
                  <button class="btn btn-success" type="button" (click)="deleteCourse(course)">Delete</button>
                </div>
            </div>
          </div>
      </div>
    </div>
  </div>