<div class="outer" >
    <form  [formGroup]="registrationFormData" (ngSubmit)="onSubmit()">
      <div class="row">
        <div class="col=xs-12">
          <div class="form-group">
            <label for="name">User Name</label>
            <input
              type="text"
              id="userName"
              class="form-control"
              formControlName="userName"
            />
          </div>
        </div>
      </div>
      <div *ngIf="registrationFormData.controls['userName'].invalid 
      && (registrationFormData.controls['userName'].dirty 
      || registrationFormData.controls['userName'].touched)"
      >
      <span>User Name can't be empty</span></div>
      
      <div class="row">
        <div class="col=xs-12">
          <div class="form-group">
            <label for="name">Email</label>
            <input
              type="text"
              id="userEmail"
              class="form-control"
              formControlName="userEmail"
            />
          </div>
        </div>
      </div>
      <div *ngIf="registrationFormData.controls['userEmail'].invalid 
      && (registrationFormData.controls['userEmail'].dirty 
      || registrationFormData.controls['userEmail'].touched)"
      >
      <span>Enter a valid Email</span></div>
    
      <div class="row">
        <div class="col=xs-12">
          <div class="form-group">
            <label for="name">Password</label>
            <input
              type="password"
              id="userPassword"
              class="form-control"
              formControlName="userPassword"
            />
          </div>
        </div>
      </div>
      <div *ngIf="registrationFormData.controls['userPassword'].invalid 
      && (registrationFormData.controls['userPassword'].dirty 
      || registrationFormData.controls['userPassword'].touched)"
      > 
      <span>Minimum characters 8</span><br>
      <span>atleast one small and one capital latter</span><br>
      <span>atleast one special character and one number</span></div>

      <div class="row">
        <div class="col=xs-12">
            <button type="submit" [disabled]=!registrationFormData.valid class="btn btn-success " >Sign-Up</button>
        </div>
    </div>
    <div id="warning" class="row" *ngIf="anyIssue == true">
      <div class="col=xs-12">
        <P>UserName already exists</P>
      </div>
    </div>
    </form>
    </div>